.box{
    width: 1110px;
    margin: 0 auto;
    margin-top: 170px ;
    .content{
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;

    }
}


@media only screen and (max-width:1200px){
    .box{
        width: 100%;
    }
}