.box {
    width: 100%;
    height: 100%;

    .slide {
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        .img {
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            
        }
    }
}


@media screen and (min-height: 1080px) {
    .box {
        .slide{
            height: 1080px;
        }
    }
}




